html,
body {
    min-height: 100%;
    overflow: auto;
}
body {
    margin: 0 !important;
}
#layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#layout header,
#layout footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
}
body > div.ui.basic.segment.toast-container.visible.transition {
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: fixed;
    top: 41px;
    z-index: 5000;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
}
#layout main,
#layout header .menu,
#layout footer > div {
    width: 90%;
}
#layout header .menu .item,
#layout header .menu .right.item,
#layout footer div {
    padding: auto 15px !important;
    max-height: 20px;
}
#layout main {
    align-self: center;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
#layout footer {
    margin-top: auto;
}
.message {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.toast-message {
    border-color: transparent !important;
    box-shadow: none !important;
    color: white !important;
    font-weight: bold;
    font-size: 16px !important;
    padding: 10px 14px !important;
}
.ui.positive.message {
    background-color: #21ba45;
}
.ui.negative.message {
    background-color: #db2828;
}
